body {
    background-image: url('/Users/justinchen/Developer/taylorswift_tickets/src/Components/images/GettyImages-1474485122.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding-top: 60px;
    transition: opacity 1s ease;
}


.titleContainer {
    z-index: 1;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 200px;
    margin-top: 50px;
}

.title {
    font-weight: bold;
    color: white;
    font-size: 5vw;
    grid-column: 1;
    grid-row: 1;
    min-width: 200px;
    min-height: 50px;
}

.buttonLink  {
    grid-column: 1;
    grid-row: 2;
}

.titleButton {
    font-size: 25px;
    font-weight: bold;
    grid-column: 1;
    grid-row: 2;
    background-color: rgba(0, 0, 0,0.6);
    backdrop-filter: blur(20px);
    color: white;
    border-radius: 10%;
    width: 20vw;
    height: 8vh;
    min-width: 150px;
    min-height: 30px;
    border-style: none;
}

.titleButton:hover {
    transform: scale(1.05);
    box-shadow: 5px 10px 15px rgba(221, 160, 221, 0.7);;
  }

@media (max-width: 768px) {
    .titleContainer {
        grid-template-columns: 1fr 1fr; /* Two columns for smaller screens */
        grid-template-rows: auto;
    }

    .title {
        font-size: 8vw; /* Adjust the font size for smaller screens */
    }

    .titleButton {
        min-width: 30vw; /* Adjust the minimum width for smaller screens */
        min-height: 12vw;
    }
}

@media (max-width: 600px) {
    .titleContainer {
        grid-template-columns: 1fr; /* Two columns for smaller screens */
        grid-template-rows: auto;
    }

    .title {
        font-size: 14vw; /* Adjust the font size for smaller screens */
    }

    .titleButton {
        min-width: 40vw;
        min-height: 16vw;
    }
}